<mat-toolbar>
    <mat-toolbar-row class="toolbar">
        <span class="toolbar_text"> Annotations </span>
        <span class="toolbar_espace"></span>
        <button mat-raised-button (click)="adicionarNota()" color="primary"> Adicionar nota </button>
        <form [formGroup]="busca" > 
            <mat-form-field class="form_espace">
                <mat-label> Busca </mat-label>
                <input matInput type="text" formControlName="campoBusca">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="buscarNota()"> Buscar </button>
        </form>
    </mat-toolbar-row>
</mat-toolbar>

<app-notas busca={{valorBusca}}> </app-notas>