<mat-tab-group mat-align-tabs="center">
    <mat-tab label="Comuns">
        <div class="div-space"> 
            <ng-container *ngFor="let nota of notasComuns">
                <mat-card (click)="editarNota(nota.id)" class="mat-card-space breakWord">
                    <mat-card-header>
                        <mat-card-title> {{nota.titulo}} </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <span> {{nota.conteudo}}</span>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Importantes">
        <div class="div-space">
            <ng-container *ngFor="let nota of notasImportantes">
                <mat-card (click)="editarNota(nota.id)" class="mat-card-space breakWord">
                    <mat-card-header>
                        <mat-card-title> {{nota.titulo}} </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <span> {{nota.conteudo}}</span>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
    <mat-tab label="Pessoais">
        <div class="div-space">
            <ng-container *ngFor="let nota of notasPessoais">
                <mat-card (click)="editarNota(nota.id)" class="mat-card-space breakWord">
                    <mat-card-header>
                        <mat-card-title> {{nota.titulo}} </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <span> {{nota.conteudo}}</span>
                    </mat-card-content>
                </mat-card>
            </ng-container>
        </div>
    </mat-tab>
</mat-tab-group>